body {
font-family: Helvetica sans-serif;
padding: 0;
margin: 0;
background-color: #222;
color: #eee;
overflow: hidden;
-webkit-user-select: none;
-moz-user-select: none;
-o-user-select: none;
-ms-user-select: none;
user-select: none;
}

canvas {
position: absolute;
top: 0;
left: 0;
}

#message {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
display: none;
}

#stats {
position: absolute;
top: 25px;
right:25px;
}

div {
padding: 5px 15px;
font-size: 13px;
background-color: rgba(0, 0, 0, .5);
}

p {
font-size: 26px;
padding: 0px;
margin: 0px;
}
